{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block meta %}
<!-- NOTE(joshblum): This prevents leaking the password reset token via the
   Referer header to any 3rd party apps on the page. -->
<meta name="referrer" content="origin">
{% endblock %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block content %}
  <!--Main layout-->
  <main>
    <div class="container">

{% if validlink %}
  <p>{% trans "Enter your new password below to reset your password:" %}</p>
  <form method="post" action="">
      {% csrf_token %}

          <div class="md-form">
            <i class="fas fa-key prefix grey-text"></i>
            <input type="password" id="new_password1" name="new_password1" class="form-control" required>
            <label for="form2">Password</label>
            {% if form.new_password1.errors %}
                <div class="errorlist form-text ">
                    {% for error in form.new_password1.errors  %}
                    <div>{{ error }}</div>
                    {% endfor %}
                </div>
                
            {% endif %}
            <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
                {{ form.new_password1.help_text }}
            </small>
          </div>

          <div class="md-form">
            <i class="fas fa-key prefix grey-text"></i>
            <input type="password" id="new_password2" name="new_password2" class="form-control" required>
            <label for="form2">Confirm password</label>
            {% if form.new_password2.errors %}
                <div class="errorlist form-text ">
                    {% for error in form.new_password2.errors  %}
                    <div>{{ error }}</div>
                    {% endfor %}
                </div>
                
            {% endif %}
            <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
                {{ form.new_password2.help_text }}
            </small>
          </div>

          <div class="text-center">
            <button class="btn btn-indigo">{% trans 'Set password' %}</button> 

          </div>
  </form>
{% else %}
  Password reset unsuccessful. Please <a href="{% url 'auth_password_reset' %}">try again.</a>
{% endif %}

</div>
</main>
  <!--Main layout-->
{% endblock %}


{# This is used by django.contrib.auth #}
