{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}
<!--Main layout-->
<main>
    <div class="container">
    

<form method="post" action="">
    {% csrf_token %}
    
  <div class="md-form">
    <i class="fas fa-key prefix grey-text"></i>
    <input type="password" id="password" name="old_password" class="form-control" required>
    <label for="form2">Password</label>
    {% if form.old_password.errors %}
        <div class="errorlist form-text ">
            {% for error in form.old_password.errors  %}
            <div>{{ error }}</div>
            {% endfor %}
        </div>
        
    {% endif %}
    <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
        {{ form.old_password.help_text }}
    </small>
  </div>
  <div class="md-form">
    <i class="fas fa-key prefix grey-text"></i>
    <input type="password" id="new_password1" name="new_password1" class="form-control" required>
    <label for="form2">Password</label>
    {% if form.new_password1.errors %}
        <div class="errorlist form-text ">
            {% for error in form.new_password1.errors  %}
            <div>{{ error }}</div>
            {% endfor %}
        </div>
        
    {% endif %}
    <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
        {{ form.new_password1.help_text }}
    </small>
  </div>
  <div class="md-form">
    <i class="fas fa-key prefix grey-text"></i>
    <input type="password" id="new_password2" name="new_password2" class="form-control" required>
    <label for="form2">Confirm password</label>
    {% if form.new_password2.errors %}
        <div class="errorlist form-text ">
            {% for error in form.new_password2.errors  %}
            <div>{{ error }}</div>
            {% endfor %}
        </div>
        
    {% endif %}
    <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
        {{ form.new_password2.help_text }}
    </small>
  </div>


    <div class="text-center">
        <button class="btn btn-indigo">{% trans 'Change password' %}</button> 
    </div>

</form>

    </div>
</main>
<!--Main layout-->    
{% endblock %}


{# This is used by django.contrib.auth #}
