{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
  <!--Main layout-->
  <main>
    <div class="container">
<p>
    {% blocktrans %}
    Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.
    {% endblocktrans %}
</p>
<form method="post" action="">
    {% csrf_token %}
      <div class="md-form">
            <i class="fas fa-envelope prefix grey-text"></i>
            <input type="text" id="email" name="email" {% if form.email.value %}
                    value="{{ form.email.value }}" 
            {% endif %} class="form-control" required>
            <label for="form3">Email</label>
            {% if form.email.errors %}
                <div class="errorlist form-text ">
                    {% for error in form.email.errors  %}
                    <div>{{ error }}</div>
                    {% endfor %}
                </div>
                
            {% endif %}
          </div>

    <div class="text-center">
            <button class="btn btn-indigo">{% trans 'Reset password' %}</button>
    </div>

</form>
    </div>
 </main>
  <!--Main layout-->
{% endblock %}


{# This is used by django.contrib.auth #}
